$frameColor: yellowgreen;
$defaultmargin: 10px;
$defaultpadding: 5px;
img {
    border: 2px solid $frameColor;
}

a {
    font-size: 16px;
    color: blue;
    text-align: center;
}

#menu,
#body {
    margin: $defaultmargin;
    padding: $defaultpadding;
}

#main-body {
    background-color: beige;
    padding: 2px;
    border: 2px solid $frameColor;
    margin: 2px;
}

th {
    background-color: lightgray;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}

td {
    border: 2px solid black;
    padding: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.special-cell {
    background-color: lightsalmon;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightsalmon;
    }
}