img {
    border: 2px solid green;
}

a {
    font-size: 16px;
    color: blue;
    text-align: center;
}

#menu {
    margin: 10px;
    padding: 5px;
}

#body {
    margin: 10px;
    padding: 5px;
}

th {
    background-color: lightgray;
    border: 2px solid black;
    padding : 5px;
}

td {
    border: 2px solid black;
    padding : 5px;
}

table {
    border-collapse: collapse;
}

.special-cell {
    background-color: lightsalmon;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightsalmon;
    }
}