{% extends "layout.html" %} {% block title %}Book details{%endblock title%} {% block content %}

<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <th scope="row">Book isbn : </th>
            <td>{{ book.isbn }}</td>
        </tr>
        <tr>
            <th scope="row">Book title : </th>
            <td>{{ book.title }}</td>
        </tr>
        <tr>
            <th scope="row">Publication year :</th>
            <td>{{ book.year }}</td>
        </tr>
        <tr>
            <th scope="row">Author :</th>
            <td>{{ book.name }}</td>
        </tr>
        <tr>
            <th scopre="row">Goodreads rating:</th>
            <td>Avg of <b>{{ goodreads.avg }}</b> <br> for a total of <b>{{ goodreads.total }}</b> </td>
        </tr>
        <tr>
            <th scope="row">Review:</th>
            <td>
                <form action="/book/{{ bid }}" method="POST">

                    <div class="form-group row">  
                    {% if review_previsous_text %}
                        <textarea class="form-control" rows="2" cols="7" name="comment">{{ review_previous_text }}</textarea>
                    {% else %}
                        <textarea class="form-control" rows="2" cols="7" name="comment"></textarea>
                    {% endif %}
                    <label>Stars:</label>
                    <select name="note">
                        {% if review_previous_note == 5 %}
                        <option value="5" selected>5</option>
                        {% else %}
                        <option value="5">5</option>
                        {% endif %}

                        {% if review_previous_note == 4 %}
                        <option value="4" selected>4</option>
                        {% else %}
                        <option value="4">4</option>
                        {% endif %}

                        {% if review_previous_note == 3 %}
                        <option value="3" selected>3</option>
                        {% else %}
                        <option value="3">3</option>
                        {% endif %}

                        {% if review_previous_note == 2 %}
                        <option value="2" selected>2</option>
                        {% else %}
                        <option value="2">2</option>
                        {% endif %}

                        {% if review_previous_note == 1 %}
                        <option value="1" selected>1</option>
                        {% else %}
                        <option value="1">1</option>
                        {% endif %}
                    </select>
                </div>
                    
                    <button class="btn btn-success">Submit review</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
{% endblock content %}