{% extends "layout.html" %} {% block title %}Book details{%endblock title%} {% block content %}

<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <th scope="row">Book isbn : </th>
            <td>{{ book.isbn }}</td>
        </tr>
        <tr>
            <th scope="row">Book title : </th>
            <td>{{ book.title }}</td>
        </tr>
        <tr>
            <th scope="row">Publication year :</th>
            <td>{{ book.year }}</td>
        </tr>
        <tr>
            <th scope="row">Author id :</th>
            <td>{{ book.name }}</td>
        </tr>
        <tr>
            <th scopre="row">Goodreads rating:</th>
            <td>Avg of {{ goodreads.avg }} for a total of {{ goodreads.total }} </td>
        </tr>
        <tr>
            <th scope="row">Review submission :</th>
            <td>
                <form action="/book/{{ bid }}" method="POST">
                    <select name="review">
                        <option value=""></option>
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                    <button class="btn btn-success">save</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
{% endblock content %}