{% extends "layout.html" %} 

{% block title %}Search{%endblock title%} 

{% block content %}
<div>
<form action="/search" method="POST">
    <div class="form-group row">
        <label class="col-sm-2">ISBN</label>
        <div class="col-sm-10"><input name="isbn" /></div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2">Title</label>
        <div class="col-sm-10"><input name="title" /></div>
    </div>   
    <div class="form-group row">
        <label class="col-sm-2">Author</label>
        <div class="col-sm-10"><input name="author" /></div>
    </div>
    <button class="btn btn-primary">search</button>
</form>
</div>
{% if books_by_isbn %}

{% for book in books_by_isbn %}
    <div class="card">
            <div class="card-body">
              <h5 class="card-title text-muted">{{ book.title }}</h5>
              <p class="card-text"><ul>
                  <li>Author : {{ book.name }}</li>
                  <li>Year : {{ book.year }}</li>
                  <li>ISBN : {{ book.isbn }}</li>
              </ul></p>
              <a href="{{ url_for('book', bid=book.id) }}" class="card-link">link</a>
            </div>
          </div>
{% endfor %}


{% endif %}

{% if books_by_title %}
{% for book in books_by_title %}
<div class="card">
        <div class="card-body">
          <h5 class="card-title text-muted">{{ book.title }}</h5>
          <p class="card-text"><ul>
              <li>Author : {{ book.name }}</li>
              <li>Year : {{ book.year }}</li>
              <li>ISBN : {{ book.isbn }}</li>
          </ul></p>
          <a href="{{ url_for('book', bid=book.id) }}" class="card-link">link</a>
        </div>
      </div>
{% endfor %}


{% endif %}

{% if books_by_author %}

{% for book in books_by_author %}
<div class="card">
        <div class="card-body">
          <h5 class="card-title text-muted">{{ book.title }}</h5>
          <p class="card-text"><ul>
              <li>Author : {{ book.name }}</li>
              <li>Year : {{ book.year }}</li>
              <li>ISBN : {{ book.isbn }}</li>
          </ul></p>
          <a href="{{ url_for('book', bid=book.id) }}" class="card-link">link</a>
        </div>
      </div>
{% endfor %}


{% endif %}


{% endblock content %}